* {
  font-family: cursive;
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 35, 35);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.squareContainer {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  text-align: center;
}

.square {
  width: calc(30% - 10px);
  padding-top: calc(30% - 10px);
  margin: 5px;
  position: relative;
}

.square button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-size: 3rem;
  background-color: royalblue;
  color: whitesmoke;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: darkblue;
  transition: 1.5s;
  box-shadow: 1rem 1rem 1rem black;
  cursor: pointer;
}

.restrt {
  display: flex;
  width: 8rem;
  font-size: 2rem;
  justify-self: center;
  margin-top: 2rem;
  background-color: royalblue;
}

.status {
  color: whitesmoke;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .squareContainer {
    width: 80%;
  }

  .square {
    width: calc(30% - 6px);
    padding-top: calc(30% - 6px);
  }

  button {
    font-size: 2rem;
  }

  .restrt {
    width: 21%;
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .status {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 480px) {
  .squareContainer {
    width: 90%;
  }

  .square {
    width: calc(30% - 4px);
    padding-top: calc(30% - 4px);
  }

  button {
    font-size: 1.5rem;
  }

  .restrt {
    width: 20%;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .status {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
